p {
    margin: 0;
    padding: 0;
}

.chatroom {
    width: 100%;
    height: 100vh;
}

.connection-status {
    padding: 5px;
}

.message-box {

}

.message-box ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.message {
    background-color: white;
    padding: 5px;
}

.message:nth-child(odd) {
    background-color: lightgray;
}

.message-input {
    width: 100%;
    overflow: hidden;
}

.message-input span input {
    width: 100%;
}

.message-input span {
    display: block;
    overflow: hidden;
    padding-right:10px;
}

#message-submit {
    float: right;
    display: block;
}